@font-face {
  font-family: 'NotoSansTC-Thin';
  src: url('Font/Noto_Sans_TC/NotoSansTC-Thin.woff2') format('woff2');
}
@font-face {
  font-family: 'NotoSansTC-Regular';
  src: url('Font/Noto_Sans_TC/NotoSansTC-Regular.woff2') format('woff2');
}
@font-face {
  font-family: 'NotoSansTC-Medium';
  src: url('Font/Noto_Sans_TC/NotoSansTC-Medium.woff2') format('woff2');
}
@font-face {
  font-family: 'NotoSansTC-Light';
  src: url('Font/Noto_Sans_TC/NotoSansTC-Light.woff2') format('woff2');
}
@font-face {
  font-family: 'NotoSansTC-Bold';
  src: url('Font/Noto_Sans_TC/NotoSansTC-Bold.woff2') format('woff2');
}
@font-face {
  font-family: 'NotoSansTC-Black';
  src: url('Font/Noto_Sans_TC/NotoSansTC-Black.woff2') format('woff2');
}
@font-face {
  font-family: 'Microsoft JhengHei';
  src: url('Font/Microsoft-JhengHei/Microsoft-JhengHei.woff2') format('woff2');
  }
@font-face {
  font-family: 'Helvetica';
  src: url('Font/Helvetica-Font/Helvetica.woff2') format('woff2');
  }
@font-face {
  font-family: 'GothicA1-Medium';
  src: url('Font/gothica1/GothicA1-Medium.woff2') format('woff2');
  }